/*Margin*/

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-0 {
  margin-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mr-1 {
  margin-right: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.ml-1 {
  margin-left: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.mb-1 {
  margin-bottom: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.mt-1 {
  margin-top: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.mr-2 {
  margin-right: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.mb-2 {
  margin-bottom: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.ml-2 {
  margin-left: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.mt-2 {
  margin-top: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.mr-3 {
  margin-right: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.mb-3 {
  margin-bottom: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.ml-3 {
  margin-left: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.mt-3 {
  margin-top: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.mr-4 {
  margin-right: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.mb-4 {
  margin-bottom: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.ml-4 {
  margin-left: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.mt-4 {
  margin-top: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.mr-5 {
  margin-right: min(max(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.75))), 2rem);
}

.mb-5 {
  margin-bottom: min(
    max(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.75))),
    2rem
  );
}

.ml-5 {
  margin-left: min(max(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.75))), 2rem);
}

.mt-5 {
  margin-top: min(max(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.75))), 2rem);
}

.mr-6 {
  margin-right: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.mb-6 {
  margin-bottom: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.ml-6 {
  margin-left: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.mt-6 {
  margin-top: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.mr-8 {
  margin-right: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.mb-8 {
  margin-bottom: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.ml-8 {
  margin-left: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.mt-8 {
  margin-top: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.mr-10 {
  margin-right: min(
    max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.4286))),
    4rem
  );
}

.mb-10 {
  margin-bottom: min(
    max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.4286))),
    4rem
  );
}

.ml-10 {
  margin-left: min(
    max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.4286))),
    4rem
  );
}

.mt-10 {
  margin-top: min(max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.4286))), 4rem);
}

.mr-12 {
  margin-right: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.mb-12 {
  margin-bottom: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.ml-12 {
  margin-left: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.mt-12 {
  margin-top: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.mr-14 {
  margin-right: min(
    max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2))),
    5.6rem
  );
}

.mb-14 {
  margin-bottom: min(
    max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2))),
    5.6rem
  );
}

.ml-14 {
  margin-left: min(max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2))), 5.6rem);
}

.mt-14 {
  margin-top: min(max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2))), 5.6rem);
}

.mr-16 {
  margin-right: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.mb-16 {
  margin-bottom: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.ml-16 {
  margin-left: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.mt-16 {
  margin-top: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.mr-20 {
  margin-right: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}

.mb-20 {
  margin-bottom: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}

.ml-20 {
  margin-left: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}

.mt-20 {
  margin-top: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}

.mr-24 {
  margin-right: min(
    max(6.72rem, calc(6.72rem + ((1vw - 0.32rem) * 3.6))),
    9.6rem
  );
}

.mb-24 {
  margin-bottom: min(
    max(6.72rem, calc(6.72rem + ((1vw - 0.32rem) * 3.6))),
    9.6rem
  );
}

.ml-24 {
  margin-left: min(
    max(6.72rem, calc(6.72rem + ((1vw - 0.32rem) * 3.6))),
    9.6rem
  );
}

.mt-24 {
  margin-top: min(
    max(6.72rem, calc(6.72rem + ((1vw - 0.32rem) * 3.6))),
    9.6rem
  );
}

.mr-28 {
  margin-right: min(
    max(7.84rem, calc(7.84rem + ((1vw - 0.32rem) * 4))),
    11.2rem
  );
}

.mb-28 {
  margin-bottom: min(
    max(7.84rem, calc(7.84rem + ((1vw - 0.32rem) * 4))),
    11.2rem
  );
}

.ml-28 {
  margin-left: min(
    max(7.84rem, calc(7.84rem + ((1vw - 0.32rem) * 4))),
    11.2rem
  );
}

.mt-28 {
  margin-top: min(max(7.84rem, calc(7.84rem + ((1vw - 0.32rem) * 4))), 11.2rem);
}

.mr-32 {
  margin-right: min(
    max(8.96rem, calc(8.96rem + ((1vw - 0.32rem) * 4.5714))),
    12.8rem
  );
}

.mb-32 {
  margin-bottom: min(
    max(8.96rem, calc(8.96rem + ((1vw - 0.32rem) * 4.5714))),
    12.8rem
  );
}

.ml-32 {
  margin-left: min(
    max(8.96rem, calc(8.96rem + ((1vw - 0.32rem) * 4.5714))),
    12.8rem
  );
}

.mt-32 {
  margin-top: min(
    max(8.96rem, calc(8.96rem + ((1vw - 0.32rem) * 4.5714))),
    12.8rem
  );
}

.mr-36 {
  margin-right: min(
    max(10.08rem, calc(10.08rem + ((1vw - 0.32rem) * 5.1429))),
    14.4rem
  );
}

.mb-36 {
  margin-bottom: min(
    max(10.08rem, calc(10.08rem + ((1vw - 0.32rem) * 5.1429))),
    14.4rem
  );
}

.ml-36 {
  margin-left: min(
    max(10.08rem, calc(10.08rem + ((1vw - 0.32rem) * 5.1429))),
    14.4rem
  );
}

.mt-36 {
  margin-top: min(
    max(10.08rem, calc(10.08rem + ((1vw - 0.32rem) * 5.1429))),
    14.4rem
  );
}

.mr-40 {
  margin-right: min(
    max(11.2rem, calc(11.2rem + ((1vw - 0.32rem) * 5.7143))),
    16rem
  );
}

.mb-40 {
  margin-bottom: min(
    max(11.2rem, calc(11.2rem + ((1vw - 0.32rem) * 5.7143))),
    16rem
  );
}

.ml-40 {
  margin-left: min(
    max(11.2rem, calc(11.2rem + ((1vw - 0.32rem) * 5.7143))),
    16rem
  );
}

.mt-40 {
  margin-top: min(
    max(11.2rem, calc(11.2rem + ((1vw - 0.32rem) * 5.7143))),
    16rem
  );
}
