/*Space Between*/

/*Space Y*/

.space-y-0 > * + * {
  margin-top: 0;
}

.space-y-1 > * + * {
  margin-top: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.space-y-2 > * + * {
  margin-top: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.space-y-3 > * + * {
  margin-top: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.space-y-4 > * + * {
  margin-top: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.space-y-6 > * + * {
  margin-top: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.space-y-8 > * + * {
  margin-top: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.space-y-10 > * + * {
  margin-top: min(max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.5))), 4rem);
}

.space-y-12 > * + * {
  margin-top: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.space-y-14 > * + * {
  margin-top: min(
    max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2.1))),
    5.6rem
  );
}

.space-y-16 > * + * {
  margin-top: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.space-y-20 > * + * {
  margin-top: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}

/*Space X*/

.space-x-0 > * + * {
  margin-right: 0;
}

.space-x-1 > * + * {
  margin-right: min(
    max(0.28rem, calc(0.28rem + ((1vw - 0.32rem) * 0.15))),
    0.4rem
  );
}

.space-x-2 > * + * {
  margin-right: min(
    max(0.56rem, calc(0.56rem + ((1vw - 0.32rem) * 0.3))),
    0.8rem
  );
}

.space-x-3 > * + * {
  margin-right: min(
    max(0.84rem, calc(0.84rem + ((1vw - 0.32rem) * 0.45))),
    1.2rem
  );
}

.space-x-4 > * + * {
  margin-right: min(
    max(1.12rem, calc(1.12rem + ((1vw - 0.32rem) * 0.6))),
    1.6rem
  );
}

.space-x-6 > * + * {
  margin-right: min(
    max(1.68rem, calc(1.68rem + ((1vw - 0.32rem) * 0.9))),
    2.4rem
  );
}

.space-x-8 > * + * {
  margin-right: min(
    max(2.24rem, calc(2.24rem + ((1vw - 0.32rem) * 1.2))),
    3.2rem
  );
}

.space-x-10 > * + * {
  margin-right: min(max(2.8rem, calc(2.8rem + ((1vw - 0.32rem) * 1.5))), 4rem);
}

.space-x-12 > * + * {
  margin-right: min(
    max(3.36rem, calc(3.36rem + ((1vw - 0.32rem) * 1.8))),
    4.8rem
  );
}

.space-x-14 > * + * {
  margin-right: min(
    max(3.92rem, calc(3.92rem + ((1vw - 0.32rem) * 2.1))),
    5.6rem
  );
}

.space-x-16 > * + * {
  margin-right: min(
    max(4.48rem, calc(4.48rem + ((1vw - 0.32rem) * 2.4))),
    6.4rem
  );
}

.space-x-20 > * + * {
  margin-right: min(max(5.6rem, calc(5.6rem + ((1vw - 0.32rem) * 3))), 8rem);
}
